#!/bin/bash

build() {
	docker pull orchardup/redis
	docker pull tinco/run-command-generator
}

run() {
	command=$(docker run -i -a stdin -a stdout tinco/run-command-generator)
	cid=$(eval "$command orchardup/redis")
	address=$(docker inspect --format '{{ .NetworkSettings.IPAddress }}' $cid)
	echo "{\"ID\": \"$cid\", \"IPAddress\": \"$address\"}"
}

link() {
	echo "Nothing to do."
}

stop() {
	echo "Stopping"
	docker stop $1
	echo "Removing"
	docker rm $1
}

status() {
	cid=$1
	state=$(docker inspect --format '{{ .State.Running }}' $cid)
	echo "{\"running\" : \"$state\"}"
}

usage() {
    echo "This script controls the container in this directory. It can be run with any of the following commands."
    echo ""
    echo "Usage:"
    echo "    control build                       # Prepare the container"
    echo "    control run                         # Run a container, prints id to stdout"
    echo "    control link <id>                   # Link a container, link options are passed in JSON over stdin "
    echo "    control stop <id>                   # Stop a container"                  
    echo "    control status <id>                 # Status of a container"                  
}

COMMAND=$1
shift
case $COMMAND in
    "build")
        build $@
        ;;
    "run")
        run $@
        ;;
    "link")
        link $@
        ;;
    "stop")
        stop $@
        ;;
    "status")
        status $@
        ;;
    *)
        usage
        ;;
esac
